/* 定义变量 */
* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
img {
  /* 解决图标3px的问题 */
  vertical-align: middle;
}
/* 因为MUI帮你写了样式初始化不需要写了 只要使用框架 都不需要写样式初始化 */
/* 第一张方案 加padding 给 main相对定位个固定高度 */
body {
  padding: 0.45rem 0;
  height: 100vh;
}
#main {
  /* 继承body内容的高度 */
  height: 100%;
  /* 给main设置相对定位 以为MUI区域滚动的容器设置了绝对定位 */
  position: relative;
}
/* 第二张方案 直接修改定位值 */
/* .mui-scroll-wrapper{
	top: 0.45rem;
	bottom: 0.45rem;
} */
/* 头部的公共样式 */
#header {
  background-color: #006699;
  display: flex;
  /* 给父元素设置padding把内容往中间挤  2边如果有图标 使用定位 左边定位在左边 右边定位在右边 */
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  height: 0.45rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  text-align: center;
  line-height: 0.45rem;
  font-weight: normal;
}
#header a {
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 0.45rem;
  color: #fff;
}
/* 底部的公共样式 */
#footer {
  width: 100vw;
  height: 0.45rem;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25vw;
}
#footer ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.085rem;
}
#footer ul li a span {
  display: block;
}
#nav {
  padding: 0.1rem;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
}
#nav ul li {
  width: 1.1833rem;
}
#nav ul li a {
  display: block;
}
#nav ul li a img {
  width: 100%;
}
#banner {
  display: flex;
  padding: 0.1rem;
}
#banner .banner-left {
  width: 2.3667rem;
  height: 2.4rem;
}
#banner .banner-left a {
  display: flex;
}
#banner .banner-left a img {
  width: 50%;
  height: 1.2rem;
}
#banner .banner-right {
  width: 1.183rem;
  height: 2.4rem;
}
#banner .banner-right a {
  display: block;
}
#banner .banner-right a img {
  width: 100%;
  height: 2.4rem;
}
#brand {
  padding: 0.1rem;
}
#brand .title a {
  display: block;
}
#brand .title a img {
  width: 100%;
}
#brand .content ul {
  display: flex;
  flex-wrap: wrap;
}
#brand .content ul li {
  width: 20%;
}
#brand .content ul li a {
  display: block;
}
#brand .content ul li a img {
  width: 100%;
}
#sport,
#women,
#man {
  padding: 0.1rem;
}
#sport .title a,
#women .title a,
#man .title a {
  display: block;
}
#sport .title a img,
#women .title a img,
#man .title a img {
  width: 100%;
}
#sport .content ul,
#women .content ul,
#man .content ul {
  display: flex;
  flex-wrap: wrap;
}
#sport .content ul li,
#women .content ul li,
#man .content ul li {
  width: 50%;
}
#sport .content ul li a.product,
#women .content ul li a.product,
#man .content ul li a.product {
  margin-top: 10px;
  background-color: #fff;
  text-align: center;
  display: block;
  box-shadow: 0px 0px 2px hotpink;
  overflow: hidden;
}
#sport .content ul li a.product .product-img,
#women .content ul li a.product .product-img,
#man .content ul li a.product .product-img {
  width: 100%;
}
